<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/ficon.png') }}">
</head>
<body>
    <header>
        Termo com Tema
    </header>
    <section class="section-main">
        <div class="btn-theme">
            <div style="cursor: pointer;">Tema: <span class="span-themetxt">tudo</span> &gt;</div>
            <div class="container-theme-list">

                <ul style="
                        list-style: none;
                        cursor: pointer;
                    ">
                    <div>
                        colunas: <div class="container-columnsopt">
                            <div class="columnsopt columnsopt-active">1</div>
                            <div class="columnsopt">2</div>
                            <div class="columnsopt">3</div>
                        </div>
                    </div>
                    <li data-theme="all" class="li-theme li-active">tudo</li>
                    <li data-theme="aleatorio" class="li-theme">aleatório</li>
                    <li data-theme="objeto" class="li-theme">objeto</li>
                    <li data-theme="tecnologia" class="li-theme">tecnologia</li>
                    <li data-theme="aviação" class="li-theme"> aviação <div class="theme-alert" data-flying_box data-flbx_text="Tema 'especial', pode conter palavras não usuais ou termos técnicos" data-flbx_offset_x="40" data-flbx_offset_y="-20">!</div>  </li>
                    <li data-theme="pisca" class="li-theme"> pisca <div class="theme-alert" data-flying_box data-flbx_text="Tema 'especial', pode conter palavras não usuais ou termos técnicos" data-flbx_offset_x="40" data-flbx_offset_y="-20">!</div> </li>
                    <!-- <li data-theme="dexter" class="li-theme"> dexter <div class="theme-alert" data-flying_box data-flbx_text="Tema 'especial', pode conter palavras não usuais ou termos técnicos" data-flbx_offset_x="40" data-flbx_offset_y="-20">!</div> </li> -->
                </ul>
            </div>
        </div>
        <button class="btn-play">Iniciar</button>
        <div class="details">
            <div>Vitórias/derrotas:</div>
            <div class="vic-graph">
                <div class="vic-graph-bar"></div>
            </div>
            <div class="vic-graph-val">0%</div>
            <div class="jogos">Jogos:</div>
            <ul class="list-past-games">
                <div style="text-align: center;" class="no-past-games">nenhum jogo passado.</div>
            </ul>
            <div class="reset-t">
                Reset: <br>
                <span class="time-reset">00:00:00</span>
            </div>
        </div>
        <a href="https://github.com/radiofarolnaodirecional/themedtermo" target="_blank">Info</a>
    </section>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/flbx.js') }}"></script>
</body>
</html>